@charset "utf-8";

/* High Precision Borders */
.border-ui-black { border-color: #0A0A0A; }

/* Custom Engineering Scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #0A0A0A; }

/* Modern Typography Tweaks */
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Item Grid Micro-interactions */
.grid-item {
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.grid-item:hover {
    transform: scale(0.98);
}
