<nav class="flex flex-col space-y-1">
    <a href="{{ '/' | relative_url }}" 
       class="seedling-wrap group flex items-center p-2 border border-ui-black font-mono text-[10px] uppercase 
       {% if page.url == '/' %} bg-ui-black text-white {% else %} hover:bg-ui-black/5 {% endif %}">
        <span class="mr-3 opacity-30">01</span> index
        <div class="ml-auto flex flex-col items-center">
            <div class="flex gap-1"><div class="leaf"></div><div class="leaf"></div></div>
            <div class="stem"></div>
        </div>
    </a>

    <a href="{{ '/artifacts' | relative_url }}" 
       class="seedling-wrap group flex items-center p-2 border border-ui-black font-mono text-[10px] uppercase 
       {% if page.url contains 'artifacts' %} bg-ui-black text-white {% else %} hover:bg-ui-black/5 {% endif %}">
        <span class="mr-3 opacity-30">02</span> evergreens
        <div class="ml-auto flex flex-col items-center">
            <div class="flex gap-1"><div class="leaf"></div><div class="leaf"></div></div>
            <div class="stem"></div>
        </div>
    </a>
</nav>
